<form id='signUp' name="signUp"  ng-controller="signUpCtrl" >
	<fieldset>
		<title>User Name</title>
		<input ng-model='signUp.userName'  type='text' required />

	</fieldset>

	<fieldset>
		<title>Email</title>
		<input ng-model='signUp.email'  type="text" required />
	</fieldset>

	<fieldset>
		<title>Password</title>
		<input  type='text' ng-model='signUp.passWord' required />
	</fieldset>

	<fieldset>
		<title>Re-type Password</title>
		<input  ng-model='signUp.passWordValidation' type='text' required />
	</fieldset>
	<fieldset>
		<button ng-click="submit()">submit</button>
	</fieldset>
</form>
